@import "tailwindcss";


:root {
  /*Imagen de fondo (Ladrillos), estilos globales*/
  background-image: url("./assets/brick-wall-dark.png");
  background-color: #010101;
  /* background-blend-mode: lighten; */
  /* background-size: cover; */
  /* background-position: center; /* Se usa para repetir la imagen de fondo */
  /* object-fit: contain; */

  font-family: 'Helvetica', 'Courier New', Courier;
  font-style: italic;
  font-weight: 900;
  /* font-weight: bold; */
}

@layer utilities {
  @keyframes step-up-enhanced {
    0% {
      transform: translateY(100%) rotate(0deg);
    }

    80% {
      /* Sube a saltos y al llegar al 80% le damos una inclinación */
      transform: translateY(0%) rotate(-1deg);
    }

    90% {
      /* Un pequeño rebote hacia el otro lado */
      transform: translateY(-2px) rotate(1deg);
    }

    100% {
      /* Posición final relajada */
      transform: translateY(0) rotate(0);
    }
  }

  .animate-modal-up {
    /* Mantenemos los steps(8) para el efecto 15fps */
    animation: step-up-enhanced 0.5s steps(8) forwards;
    /* Mejora: añade una sombra que aparezca de golpe */
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
  }

  @keyframes step-down {
    0% {
      transform: translateY(0) rotate(0.5deg);
    }

    15% {
      /* Un pequeño "temblor" antes de caer */
      transform: translateY(-5px) rotate(-1deg);
    }

    100% {
      transform: translateY(120%) rotate(2deg);
    }
  }

  .animate-modal-down {
    /* Usamos menos pasos (steps) para que la caída se sienta más pesada y rápida */
    animation: step-down 0.4s steps(6) forwards;
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */